@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  /* Neutral */

  --Neutral900: hsl(243, 96%, 9%);
  --Neutral800: hsl(243, 27%, 20%);
  --Neutral700: hsl(243, 23%, 24%);
  --Neutral600: hsl(243, 23%, 30%);
  --Neutral300: hsl(240, 6%, 70%);
  --Neutral200: hsl(250, 6%, 84%);
  --Neutral0: hsl(0, 0%, 100%);

  /* Orange */

  --Orange500: hsl(28, 100%, 52%);

  /* Blue */

  --Blue500: hsl(233, 67%, 56%);
  --Blue700: hsl(248, 70%, 36%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Neutral900);
  color: var(--Neutral0);
  padding: 10px;
  width: 100vw;
  height: 100vh;
  font-family: "DM Sans", monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

header img {
  height: 25px;
}

.dropdown-toggle {
  border: none;
  background-color: var(--Neutral700);
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  color: var(--Neutral300);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "DM Sans", monospace;
  font-weight: 600;
  cursor: pointer;
}

.icon-dropdown {
  height: 5px !important;
}

.dropdown-toggle img {
  height: 13px;
}

.dropdown-menu {
  display: none;
}

h1 {
  font-family: "Bricolage Grotesque", monospace;
  font-weight: 700;
  font-size: 46px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.searchbar {
  border: none;
  background-color: var(--Neutral700);
  color: var(--Neutral200);
  width: 100%;
  height: 100%;
  font-family: "DM Sans", monospace;
  font-weight: 400;
  font-size: 15px;
  border-radius: 7px;
}

.searchbar::placeholder {
  color: var(--Neutral200);
  opacity: 1;
}

label {
  width: 100%;
  height: 45px;
  border: none;
  background-color: var(--Neutral700);
  border-radius: 7px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
}

label input:focus {
  outline: none;
}

label img {
  height: 25px;
  filter: invert(7%) sepia(4%) saturate(7%) hue-rotate(250deg) brightness(95%)
    contrast(98%);
}

#search-btn {
  background-color: var(--Blue500);
  border: none;
  width: 100%;
  margin-top: 10px;
  color: var(--Neutral200);
  font-family: "DM Sans", monospace;
  font-weight: 500;
  font-size: 15px;
  border-radius: 7px;
  height: 45px;
  margin-bottom: 30px;
}
