@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  /* Neutral */

  --Neutral900: hsl(243, 96%, 9%);
  --Neutral800: hsl(243, 27%, 20%);
  --Neutral700: hsl(243, 23%, 24%);
  --Neutral600: hsl(243, 23%, 30%);
  --Neutral300: hsl(240, 6%, 70%);
  --Neutral200: hsl(250, 6%, 84%);
  --Neutral0: hsl(0, 0%, 100%);

  /* Orange */

  --Orange500: hsl(28, 100%, 52%);

  /* Blue */

  --Blue500: hsl(233, 67%, 56%);
  --Blue700: hsl(248, 70%, 36%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Neutral900);
  color: var(--Neutral0);
  padding: 10px;
  width: 100vw;
  height: 100vh;
  font-family: "DM Sans", monospace;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

header img {
  height: 25px;
}

.dropdown-toggle {
  border: none;
  background-color: var(--Neutral700);
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  color: var(--Neutral300);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "DM Sans", monospace;
  font-weight: 600;
  cursor: pointer;
}

.icon-dropdown {
  height: 5px !important;
}

.dropdown-toggle img {
  height: 13px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 100%;
  right: 0;
  background-color: var(--Neutral700);
  border-radius: 7px;
  width: 175%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  z-index: 10;
  padding: 15px;
  list-style: none;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.divider {
  height: 2px;
  background-color: var(--Neutral600);
  margin: 10px 0 10px 0;
}

.units-toggle {
  background: transparent;
  border: none;
  color: var(--Neutral0);
  text-align: left;
  margin-bottom: 15px;
  font-weight: 400;
  font-family: "DM Sans", monospace;
  cursor: pointer;
}

.section-header {
  font-size: 12px;
  color: var(--Neutral300);
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-family: "Bricolage Grotesque", monospace;
  font-weight: 700;
  font-size: 46px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

/* search section */
.searchbar {
  border: none;
  background-color: var(--Neutral700);
  color: var(--Neutral200);
  width: 100%;
  height: 100%;
  font-family: "DM Sans", monospace;
  font-weight: 400;
  font-size: 15px;
  border-radius: 7px;
}

.searchbar::placeholder {
  color: var(--Neutral200);
  opacity: 1;
}

label {
  width: 100%;
  height: 45px;
  border: none;
  background-color: var(--Neutral700);
  border-radius: 7px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
}

label input:focus {
  outline: none;
}

label img {
  height: 25px;
  filter: invert(7%) sepia(4%) saturate(7%) hue-rotate(250deg) brightness(95%)
    contrast(98%);
}

#search-btn {
  background-color: var(--Blue500);
  border: none;
  width: 100%;
  margin-top: 10px;
  color: var(--Neutral200);
  font-family: "DM Sans", monospace;
  font-weight: 500;
  font-size: 15px;
  border-radius: 7px;
  height: 45px;
  margin-bottom: 30px;
}

/* main forecast section */
.forecast-main {
  background: url(./assets/images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 200px;
  border-radius: 13px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.location {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 10px;
}

.date {
  font-size: 13px;
  color: var(--Neutral300);
  font-weight: 400;
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "DM Sans", monospace;
  font-weight: 600;
  font-size: 70px;
  font-style: italic;
}

.weather img {
  height: 100px;
}

/* Extra weather info section */
.extra-info ul {
  list-style: none;
  color: var(--Neutral0);
  font-size: 25px;
  font-weight: 300;
}

.extra-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  gap: 10px;
}

.extra-info-header {
  color: var(--Neutral300);
  font-size: 15px;
  margin-bottom: 15px;
}

.extra-info > div {
  background-color: var(--Neutral700);
  border-radius: 7px;
  padding: 15px;
}

/* daily forecast section */
.daily-forecast h2 {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 500;
}

.daily-forecast ul img {
  height: 65px;
}

.daily-forecast ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.daily-forecast-header {
  font-weight: 300;
}

.daily-forecast-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  gap: 10px;
}

.daily-forecast-grid > div {
  background-color: var(--Neutral700);
  border-radius: 7px;
  padding: 10px;
}

.daily-forecast-row {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  color: var(--Neutral300);
}

/* Hourly forecast section */

.hourly-forecast {
  background-color: var(--Neutral700);
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.hourly-forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.hourly-forecast-header button {
  background-color: var(--Neutral600);
  border: none;
  padding: 7px 15px 7px 15px;
  border-radius: 7px;
  color: var(--Neutral200);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.hourly-forecast-header h3 {
  font-size: 15px;
  color: var(--Neutral0);
}

.hourly-forecast .time {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 510px;
  overflow: scroll;
}

.hourly-forecast .time li img {
  height: 50px;
}

.hourly-forecast .time li {
  background-color: var(--Neutral600);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  padding: 10px 15px 10px 15px;
  color: var(--Neutral200);
}

.time-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.dropdown-hourly-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 120%;
  right: 0;
  background-color: var(--Neutral700);
  border-radius: 7px;
  width: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  z-index: 10;
  padding: 15px;
  list-style: none;
  border: 1px solid hsl(240, 2%, 50%);
  font-size: 15px;
}

.dropdown-hourly-menu li {
  background-color: transparent !important;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
}

.dropdown-hourly-menu li:hover {
  background-color: var(--Neutral600) !important;
  border-radius: 5px;
}
